<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>APP|Register page</title>
</head>
<body>
    <h1 style="color: blue;">Welcome to the website</h1>
    <form action="/perform_registration" method="post">
        <label>Name</label><br>
        <input type="text" name="user_name"><br>
        <label>Email</label><br>
        <input type="email" name="user_email"><br>
        <label>Password</label><br>
        <input type="password" name="user_password"><br><br>
        <input type="submit" value="Register">
    </form>
    <p>Already a member ? <a href="/">Login here</a></p>
</body>
</html>